# Supabase Credentials
SUPABASE_URL=https://your-supabase-project.supabase.co
SUPABASE_KEY=your-supabase-key

# MongoDB Connection configuration
MONGO_URI=mongodb://localhost:27017
DB_NAME=aquara

# Server port configuration
PORT=8000
