# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class
*.so

# Environments
venv/
.venv/
env/
ENV/
env.bak/
venv.bak/

# Secrets and environment configurations
.env
.env.*
!.env.example

# Logs
*.log

# Unit test / coverage reports
.pytest_cache/
.coverage
.coverage.*
htmlcov/
.mypy_cache/
.ruff_cache/
